.cascading-gallery{
    margin: 5em auto;
}
.gallery__container {
    position: relative;
    margin: 2em auto;
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-height: 500px;
    
    .gallery__name {
        z-index: 999;
        position: absolute;
        bottom: 1em;
        left: 0;
        right: 0;
        width: 100%;
        text-align: center;
    }
    .slider {
        height: 100%;
        width: 1px;
        background: mediumaquamarine;
    }
    .gallery__image {
        flex-shrink: 0;
        min-width: 100%;
        min-height: 100%
    }
}