body {
    text-align: center;
}

a {}

a:hover {
    cursor: pointer;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.btn {
    border: 0;
    padding: .8em 3em;
    margin: 1em auto;
    font-size: 1em;
    border-radius: .5em;
}

.btn-primary {
    color: #fff;
    background-color: #F0596B;
    border: 0;
    &:hover {
        background-color: #D83047;
    }
}

.btn-default {
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
}

.modal-content {
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border: 0px;
    border-radius: .4em;
    outline: 0;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
}

.modal-body,
.modal-footer,
.modal-header {
    position: relative;
    padding: 1em;
    p {}
}

.modal-body {
    background-color: #F8F8F8;
}