@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Nunito:300,400,700,900');


$primary-font: 'Fredoka One', sans-serif;
$body-font: 'Nunito', sans-serif;

body{
    font-size: 18px;
    font-family: $body-font;    
    font-weight: 300;
}

p{
    font-size: 1em;
    line-height: 1.6em;
}

a{
    color: #65C5CF;    
}

h1, h2{
    font-family: $primary-font;
}

h1{
}

h2{
    margin: .8em auto;
}

h3{
    font-size: 1em;
    margin: 1.5em auto;
}
