@import "../../styles/_app";
.header {
    background-color: $primary-color;
    color: #fff;
    min-height: 90vh;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
}