.footer {
    background-color: #65C5CF;
    color: #fff;
    margin: 2em auto 0;
    padding: 2em;

    p{
        max-width: 50ch;
        margin: 0 auto;
    }
    .footer__logo {
        display: block;
        width: 200px;
        margin: 1.5em auto;
    }
}